APP_NAME="S3 Web Browser"
APP_ENV=local
APP_KEY=base64:q/DfT4tls2VOrI2ugB2XtsuS1ssF9jDDHpqjloC6D9s=
APP_DEBUG=true
APP_URL=http://locals3browser.com

LOG_CHANNEL=syslog

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
AWS_BUCKET=""
AWS_URL=""
