$mainColor: #138496;
$errorColor: #dc3545;
$secondColor: #e2e6ea;


$mainTransparentBackground: rgba(226,230,234, 0.96);
$secondTransparentBackground: rgba(19,132,150, 0.3);


$mainTextColor: darken($mainColor, 10%);