#sort_content {

    cursor: pointer;

}

#content_list {

    min-width: 690px;

    margin-bottom: 0 !important;


    .td-actions {
        width: 120px;
    }

    .td-size {
        width: 160px;
    }

    .td-modified {
        width: 160px;
    }

    .td-type, .td-check {
        width: 48px;
    }

}